# LabVIEW project temporary files.
*.aliases
*.lvlps

#LabVIEW builds
[Bb]uild/
[Bb]uilds/

#Package builder
[Pp]ackages/
ProcessingStage/
package/log-audio-adc-measurements-labview.txt

#InstrumentStudio
*.[Cc]ache/

# Executables
*.exe
